{% extends 'base_admin_dashboard.html' %}
{% block extend %}
<!-- Search Bar -->
    <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="w-25">
            <input type="text" class="form-control w-full mb-2" placeholder="Search">
        </div>
        <span class="fw-bold text-primary">Welcome Quiz Master</span>
    </div>

    <!-- Quiz Card  -->
    <div class="row mt-4 justify-content-center">
        <!-- Each quiz card -->
        <div class="col-md-11">
            <div class="card shadow-sm m-3 p-3">
                <div class="d-flex ps-2">
                        <div >
                            <h4 class="fw-bold w-full">
                            Quiz {{quiz.id}}
                            </h4>

                        </div>
                    <a href="{{ url_for('create_question', curr_login_id=session['user_id'],quiz_id=quiz.id)}}"
                        class="btn btn-lg btn-light ms-auto">
                        Question    <img src="{{ url_for('static', filename='Add_icon.png') }}" alt="Add Question" width="30" height="30">    
                    </a>      
                </div>
                <table class="table">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>Subject:</th>
                            <td>{{quiz.chapter.subject.name}}</td>
                            <th>Chapter:</th>
                            <td>{{quiz.chapter.name}}</td>
                        </tr>
                        <tr>
                            <th>Q. Id</th>
                            <th>Question Statement</th>
                            <th>Option 1</th>
                            <th>Option 2</th>
                            <th>Option 3</th>
                            <th>Option 4</th>
                            <th>Correct Option</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for question in quiz.questions%}
                        <tr>
                            <td>{{question.id}}</td>
                            <td>{{question.statement}}</td>
                            <td>{{question.option_1}}</td>
                            <td>{{question.option_2}}</td>
                            <td>{{question.option_3}}</td>
                            <td>{{question.option_4}}</td>
                            <td>{{question.correct_option}}</td>
                            <td>
                                <a href="{{ url_for('update_question', curr_login_id=session['user_id'], question_id=question.id) }}"
                                class="btn btn-sm bg-secondary-subtle">Edit</a>
                                <a href="{{ url_for('delete_question', curr_login_id=session['user_id'], question_id=question.id) }}"
                                class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>
    </div>
{% endblock %}