{% extends 'base_user_dashboard.html' %}

{% block header %}
Welcome {{user.full_name}}
{% endblock %}

{% block extend %}
<!-- Search Bar -->
<div class="d-flex justify-content-between align-items-center mt-3">
    <div class="w-25">
        <input type="text" class="form-control w-full mb-2" placeholder="Search" id="search-box"
            onkeyup="searchUsers()">
    </div>
</div>

    
    <div class="row mt-4">
        {% for quiz in quizes %}
        {% if (quiz.date_of_quiz is none or quiz.date_of_quiz >= todays_date) and quiz.questions|length > 0 %}
        <div class="col-md-6">
            <div class="card shadow-sm m-3 p-3">
                <div class="d-flex ps-2">
                        <div >
                            <h5 class="fw-bold w-full">
                            Quiz {{quiz.id}}
                            </h5>

                        </div>

                    <a href="{{ url_for('exam_portal', curr_login_id=session['user_id'],quiz_id=quiz.id)}}"
                        class="btn btn-light ms-auto">
                        Attempt <img src="{{ url_for('static', filename='Arrow_icon.png') }}" alt="Add" width="30" height="30">
                    </a>        
                </div>
                <table class="table">
                    <thead class="bg-primary text-white">
                        <tr >
                            <th>Subject Name</th>
                            <th>Chapter Name</th>
                            <th>Quiz Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="user-details">
                            <td>{{quiz.chapter.subject.name}}</td>
                            <td>{{quiz.chapter.name}}</td>
                            <td>{{quiz.date_of_quiz}}</td>
                            <td>{{quiz.time_duration}}</td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <script>
        function searchUsers() {
            const input = document.getElementById("search-box");
            const query = input.value.toUpperCase();
            const userColumns = document.querySelectorAll(".user-details");
    
            // Loop through all list items, and hide those who don't match the search query
            userColumns.forEach(userColumn => {
                const userDetails = userColumn.innerHTML;
                if (userDetails.toUpperCase().indexOf(query) > -1) {
                    userColumn.style.display = "";
                } else {
                    userColumn.style.display = "none";
                }
            })
        }
    </script>
{% endblock %}